<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletJava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HtmlClass</display-name>
    <servlet-name>HtmlClass</servlet-name>
    <servlet-class>com.prepare.HtmlClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HtmlClass</servlet-name>
    <url-pattern>/HtmlClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JavaClass</display-name>
    <servlet-name>JavaClass</servlet-name>
    <servlet-class>com.prepare.JavaClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaClass</servlet-name>
    <url-pattern>/JavaClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Students</display-name>
    <servlet-name>Students</servlet-name>
    <servlet-class>com.prepare.Students</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Students</servlet-name>
    <url-pattern>/Students</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>